[include]
  path="~/.gitconfig.local"
[pull]
	rebase = true
[core]
  excludesFile = ~/.gitignore
  pager = delta
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[delta]
  navigate = true
  light = true
  line-numbers = true
