[include]
  path = "~/.gitconfig.local"
  path = "~/GitHub/delta/catppuccin.gitconfig"
[pull]
  rebase = true
[core]
  excludesFile = ~/.gitignore
  pager = delta
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[delta]
  navigate = true
  line-numbers = true
  features = catppuccin-macchiato
[init]
  defaultBranch = main
